<html>

<head>
    <link type='text/css' rel='stylesheet' href='css/style.css'>
    <title>Flickr Search</title>
    <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="https://code.angularjs.org/1.5.5/angular-messages.js" type="text/javascript"></script>
    <script type="text/javascript" src="controllers/flickrApp.js"></script>
</head>

<body ng-app="flickrApp">
    <div class="page-container" ng-controller="MyController as vm">
        <form name="vm.myForm" ng-submit="vm.myForm.$valid && vm.submitForm(vm.hashTag)">
            <div>
                <p class="heading">Flickr Searcher</p>
                <div class="info">
                    <input type="text" placeholder="Enter tag to search for" ng-model="vm.hashTag" name="hashTag" required></input>
                    <input class="btn-submit" type="submit" value="Submit"></input>
                </div>
                <div class="error" ng-show="vm.imgSearch">
                    <label> Searching Instagram for photos tagged with "{{vm.hashTag}}"</label>
                </div>
            </div>
        </form>
        <div class="error">
        <label ng-if="vm.imageLength > 0">We found <u>{{vm.imageLength}}</u> results for "{{vm.hashTag}}"</label> 
        </div>
        <div ng-repeat="flickrImage in vm.images" class="imgDisplay">
            <img ng-src="https://farm{{flickrImage.farm}}.staticflickr.com/{{flickrImage.server}}/{{flickrImage.id}}_{{flickrImage.secret}}_m.jpg"></img>
        </div>
    </div>
</body>

</html>
